extends layout

block content
	.container
		.hero-unit
			h1 About Image Uploader
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
				| Suspendisse ut eros nisl, eu malesuada libero. Sed venenatis, nibh ac viverra elementum, 
				| quam erat viverra tellus, sed eleifend eros quam vitae neque. Quisque venenatis lacus dignissim turpis iaculis convallis. 
				| Duis arcu elit, venenatis et feugiat eu, tincidunt ac justo. Sed vitae mi ligula. Nulla volutpat dolor 
				| non ligula bibendum sollicitudin. Maecenas non massa ante. Sed ullamcorper mauris nec risus imperdiet vitae vestibulum urna blandit. 
				| Etiam blandit libero sed massa tristique eu porttitor erat lobortis. Suspendisse eleifend mattis mi, quis dapibus turpis facilisis non. 
				| Etiam non justo augue. Curabitur suscipit vestibulum tristique. Ut mollis, elit eu mattis semper, purus dolor cursus massa, 
				| sed egestas lectus lectus sed ipsum. Ut et imperdiet magna.
			
