extends layout

block content
	div.container
		.hero-unit
			h1 Uploaded Image
			a(href='/uploads/#{img.path}', class='thumbnail')
				img(src='/uploads/#{img.path}', width='260px',height='180px')
			br
			a(href='/uploads/#{img.path}') Direct link
			br
			p Tags:
			span(id='tags') #{img.tags}
			script(type='text/javascript')
				var tags = $('#tags').html();
				tags = tags.split(',');
				for(var i =0; i < tags.length;i++) {
					tags[i] = '<a href="/recent/'+tags[i] +'"> '+tags[i]+'</a>' 
				}
				$('#tags').html(tags);