extends layout

block content
	div.container
		.hero-unit
			.page-header
				h1 Image Uploader
			p Easily upload and share photos.
			
			form(action='/upload',enctype='multipart/form-data', method='POST')
				fieldset
					h2 Upload File
					input(type='file',name='img')
					br
					Image Tags (comma-seperated for multiple):
					input(type='text',name='imgtags')
					input(type='submit',value='Submit',class='btn btn-primary')

			form(action='/search', method='POST')
				h3 Search for Images by Tag
				input(type='text',name='searchtags')
				input(type='submit',value='Search',class='btn btn-primary')