!!!
html
	head
		block head
			title= title
			link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
			link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
			link(rel='stylesheet', href='/stylesheets/style.css')
			script(src='/js/jquery-1.9.1.min.js')
			script(src='/js/bootstrap.min.js')
	body
		include header
		block content
		include footer